@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
}

.aldrich-regular {
    font-family: "Aldrich", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    color: #fff;
    margin: 0;
}

label {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 8px;
    width: 100%;
}

input[type="checkbox"] {
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.container label {
    justify-content: flex-start;
    padding: 4px 0;
}

.tittle,
h2 {
    font-family: "Aldrich", serif;
    font-weight: 400;
    font-style: normal;
}

.lock-logo {
    width: 85px;
    height: 85px;
    margin: 0 auto;
}

.container {
    background: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin-top: -100px;
}

input,
button {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input {
    background: #444;
    color: white;
}

button {
    background: radial-gradient(at bottom right, #b6b6b6 5%, #888888 95%);
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: #222;
}

.password {
    background: #222;
    padding: 10px;
    font-size: 18px;
    word-break: break-all;
    border-radius: 5px;
    width: 95%;
    cursor: pointer;
}

#baseWords,
#length {
    width: 90%;
    padding: 10px;
}