body {
    font-family: var(--font-lato-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    color: #fff;
    margin: 0;
}

label {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 8px;
    width: 100%;
}

input[type="checkbox"] {
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.container label {
    justify-content: flex-start;
    padding: 4px 0;
}

label[for="baseWords"],
label[for="length"] {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 10px auto;
}

.tittle,
h2 {
    font-family: "Aldrich", serif;
    font-weight: 400;
    font-style: normal;
    font-family: var(--font-aldrich-regular);
}


.lock-logo {
    width: 85px;
    height: 85px;
    margin: 0 auto;
}

.container {
    background: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-top: -100px;
}

input,
button {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input {
    background: #444;
    color: white;
}

button {
    background: radial-gradient(at bottom right, #b6b6b6 5%, #888888 95%);
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: #222;
}

.password {
    background: #222;
    padding: 10px;
    font-size: 18px;
    word-break: break-all;
    border-radius: 5px;
    width: 95%;
    cursor: pointer;
}

#baseWords,
#length {
    width: 90%;
    padding: 10px;
}
label {
    font-family: "Lato", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}